@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap");
body {
  font-family: "Lexend", sans-serif;
  width: 100vw;
  overflow-x: hidden; /*chech*/
}

.main-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.covid-news {
  width: 100%;
  background-color: #222222;
  color: #a3a3a3;
  text-decoration: underline;
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
}

.place-to-stay {
  width: 100vw;
  background-image: url("images/homapage/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  position: relative;
}

.place-to-stay-info {
  width: 100%;
  height: 80px;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
  z-index: 1;
  display: flex;
  align-items: center;
}

.airbnb-logo {
  display: flex;
  align-items: center;
}

.airbnb-logo-col {
  display: flex;
  width: 25%;
  justify-content: flex-start;
}

.airbnb-list-col {
  display: flex;
  width: 50%;
  justify-content: center;
}

.airbnb-user-login-col {
  display: flex;
  width: 25%;
  justify-content: flex-end;
}

.airbnb-logo .fab.fa-airbnb {
  font-size: 37px;
  padding-right: 0.25rem;
}

.airbnb-logo-text {
  font-size: 22px;
  font-weight: 600;
}

.airbnb-list {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.airbnb-list > * {
  padding: 16px 10px;
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
}

.airbnb-list > *:hover {
  opacity: 0.8;
}

.airbnb-list > *:hover .list-bottom-hover-border {
  visibility: visible;
  width: 5px;
  transition: width 0.2s;
}

.list-bottom-hover-border {
  visibility: hidden;
  width: 0px;
  position: absolute;
  height: inherit;
  border-bottom: 2px solid white;
  height: 40px;
}

.user-login {
  color: white;
  display: flex;
  align-items: center;
}

.user-login > * {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-login {
  color: grey;
  border: 1px solid gray;
  background-color: white;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 0.5rem;
  height: 40px;
}

.bi.bi-list {
  width: 20px;
  height: 20px;
  color: #222222;
  margin-right: 0.5rem;
}

.bi.bi-person-circle {
  fill: #ff385c;
  width: 25px;
  height: 25px;
}

.become-a-host:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.bi.bi-globe2 {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.bi.bi-globe2:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar-container {
  background-color: white;
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  border: 1px solid #887171;
  border-radius: 2rem;
}

.search-bar-location {
  width: 40%;
}

.search-bar-check-in {
  width: 20%;
}

.search-bar-check-out {
  width: 20%;
}

.search-bar-guest {
  width: 30%;
}

.search-bar-container > * {
  padding: 14px 0px 14px 24px;
}

.search-bar-container > * > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 24px;
}

.search-bar-container div:nth-child(-n + 3) div {
  border-right: 1px solid #887171;
}

.search-bar-guest-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.search-bar-guest-container section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 24px;
}

.search-bar-guest-container section:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff385c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 0.5rem;
  bottom: -7px;
  position: absolute;
}

.search-bar-guest-container section:nth-child(2):hover {
  background-color: #e31c5c;
}

.bi.bi-search {
  color: white;
}

.search-bar-title-bold {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  padding-bottom: 2px;
  color: #222222;
}

.search-bar-light-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #887171;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-bar-location {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-bar-guest {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.search-bar-container > *:hover {
  background-color: #ebebeb;
  border-radius: 2rem;
}

.im-flexible {
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 146px;
  bottom: 0;
}

.im-flexible-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.im-flexible-container > * {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.im-flexible-container div:last-child span {
  background-color: white;
  padding: 16px 50px;
  border-radius: 2rem;
  color: rgb(116, 37, 116);
  box-shadow: 1px 1px 50px #888888;
}

.mobile-search-bar-container {
  display: none;
  width: 100%;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.mobile-search-bar {
  width: 100%;
  background-color: white;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 4px;
  border-radius: 2rem;
  border: 1px solid white;
}

.mobile-search-bar .bi.bi-search {
  color: rgb(34, 34, 34);
  padding-left: 12px;
  padding-right: 16px;
}

.mobile-search-bar span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(34, 34, 34);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-section-container {
  padding: 64px 80px 0px;
  width: 100%;
}

h2 {
  font-weight: 600;
}

.new-section-container .row {
  padding-top: 8px;
}

.new-section-container .row > * {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}

.explore-nearby-row-container {
  min-width: 500px;
}

.explore-img-container {
  width: 64px;
  height: 64px;
  margin-right: 16px;
}

.explore-img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  border-radius: 0.75rem;
}

.explore-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  font-size: 16px;
  color: rgb(34, 34, 34);
}

.explore-title {
  font-weight: 600;
}

.explore-time {
  font-weight: 300;
}

.place-row-container {
  padding-right: 8px;
  padding-left: 8px;
  min-width: 500px;
}

.place-row-container .row > * {
  display: flex;
  flex-direction: column;
  padding-right: 7px;
  padding-left: 7px;
}

.place-img-comtainer {
  width: 100%;
  height: 100%;
  padding-bottom: 0.5rem;
}

.place-img {
  width: inherit;
  height: inherit;
  border-radius: 0.5rem;
}

.place-info {
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 600;
}

.place-info-description {
  font-size: 14px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

.big-col.outdoor {
  background-image: url("images/homapage/f0343d6a-328c-4213-90a2-13ba3572a01f.jpg");
}

.big-col {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  position: relative;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 5rem;
  min-width: 400px;
}

.big-col-info h2 {
  font-size: 46px;
}

.big-col-description {
  font-size: 18px;
  font-weight: 500;
}

.big-col-info {
  width: 35%;
}

.big-col-info div {
  margin-top: 2rem;
}

.outdoor-btn {
  padding: 14px 24px;
  background-color: #222222;
  color: white;
  border-radius: 0.5rem;
  width: auto;
}

.big-col.hosting {
  background-image: url("/images/homapage/791aba62-2de8-4722-99b5-45838715eb34-landscape.jpg");
}

.big-col-info.hosting {
  color: white;
}

.hosting-btn {
  padding: 14px 24px;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  width: auto;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .covid-news {
    font-size: 12px;
  }

  .place-to-stay-info {
    display: none;
  }

  .place-to-stay {
    height: 60vh;
  }

  .search-bar {
    display: none;
  }

  .mobile-search-bar-container {
    display: block;
  }

  .im-flexible {
    top: 64px;
  }

  .explore-nearby-row-container .row .col-6:nth-child(n + 5) {
    display: none;
  }

  .place-row-container.live .row .col-6:nth-child(n + 3) {
    display: none;
  }

  .place-row-container.discover .row .col-6:nth-child(n + 3) {
    display: none;
  }

  .big-col {
    justify-content: flex-start;
    height: 70vh;
    text-align: center;
    padding: 5rem;
  }

  .big-col.hosting {
    background-image: url("/images/homapage/791aba62-2de8-4722-99b5-45838715eb34.jpg");
    justify-content: flex-start;
    height: 70vh;
    text-align: center;
    padding: 5rem;
  }

  .big-col-info {
    width: 100%;
  }

  .big-col-info h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .explore-nearby-row-container .row .col-6:nth-child(n + 7) {
    display: none;
  }

  .place-row-container.live .row .col-6:nth-child(n + 4) {
    display: none;
  }
}
