@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap");
body {
  font-family: "Lexend", sans-serif;
  width: 100vw;
  overflow-x: hidden; /*chech*/
}

.main-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.covid-news {
  width: 100%;
  background-color: #222222;
  color: #a3a3a3;
  text-decoration: underline;
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
}

.place-to-stay {
  width: 100vw;
  background-image: url("images/homapage/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  position: relative;
}

.place-to-stay-info {
  width: 100%;
  height: 80px;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
  z-index: 1;
  display: flex;
  align-items: center;
}

.airbnb-logo {
  display: flex;
  align-items: center;
}

.airbnb-logo-col {
  display: flex;
  width: 25%;
  justify-content: flex-start;
}

.airbnb-list-col {
  display: flex;
  width: 50%;
  justify-content: center;
}

.airbnb-user-login-col {
  display: flex;
  width: 25%;
  justify-content: flex-end;
}

.airbnb-logo .fab.fa-airbnb {
  font-size: 37px;
  padding-right: 0.25rem;
}

.airbnb-logo-text {
  font-size: 22px;
  font-weight: 600;
}

.airbnb-list {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.airbnb-list > * {
  padding: 16px 10px;
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
}

.airbnb-list > *:hover {
  opacity: 0.8;
}

.airbnb-list > *:hover .list-bottom-hover-border {
  visibility: visible;
  width: 5px;
  transition: width 0.2s;
}

.list-bottom-hover-border {
  visibility: hidden;
  width: 0px;
  position: absolute;
  height: inherit;
  border-bottom: 2px solid white;
  height: 40px;
}

.user-login {
  color: white;
  display: flex;
  align-items: center;
}

.user-login > :nth-child(-n + 3),
.sp-user-login > :nth-child(-n + 3) {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-login {
  color: grey;
  border: 1px solid gray;
  background-color: white;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 0.5rem;
  height: 40px;
}

.bi.bi-list {
  width: 20px;
  height: 20px;
  color: #222222;
  margin-right: 0.5rem;
}

.bi.bi-person-circle {
  fill: #ff385c;
  width: 25px;
  height: 25px;
}

.become-a-host {
  font-size: 14px;
}

.become-a-host:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.bi.bi-globe2 {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.bi.bi-globe2:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar-container {
  background-color: white;
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  border: 1px solid #887171;
  border-radius: 2rem;
}

.search-bar-location {
  width: 40%;
}

.search-bar-check-in {
  width: 20%;
}

.search-bar-check-out {
  width: 20%;
}

.search-bar-guest {
  width: 30%;
}

.search-bar-container > * {
  padding: 14px 0px 14px 24px;
}

.search-bar-container > * > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 24px;
}

.search-bar-container div:nth-child(-n + 3) div {
  border-right: 1px solid #887171;
}

.search-bar-guest-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.search-bar-guest-container section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 24px;
}

.search-bar-guest-container section:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff385c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 0.5rem;
  bottom: -7px;
  position: absolute;
}

.search-bar-guest-container section:nth-child(2):hover {
  background-color: #e31c5c;
}

.bi.bi-search {
  color: white;
}

.search-bar-title-bold {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  padding-bottom: 2px;
  color: #222222;
}

.search-bar-light-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #887171;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-bar-location {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-bar-guest {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.search-bar-container > *:hover {
  background-color: #ebebeb;
  border-radius: 2rem;
}

.im-flexible {
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 146px;
  bottom: 0;
}

.im-flexible-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.im-flexible-container > * {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.im-flexible-container div:last-child span {
  background-color: white;
  padding: 16px 50px;
  border-radius: 2rem;
  color: rgb(116, 37, 116);
  box-shadow: 1px 1px 50px #888888;
}

.mobile-search-bar-container {
  display: none;
  width: 100%;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.mobile-search-bar {
  width: 100%;
  background-color: white;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 4px;
  border-radius: 2rem;
  border: 1px solid white;
}

.mobile-search-bar .bi.bi-search {
  color: rgb(34, 34, 34);
  padding-left: 12px;
  padding-right: 16px;
}

.mobile-search-bar span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(34, 34, 34);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-section-container {
  padding: 64px 80px 0px;
  width: 100%;
}

h2 {
  font-weight: 600;
}

.new-section-container .row {
  padding-top: 8px;
}

.new-section-container .row > * {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}

.explore-nearby-row-container {
  min-width: 500px;
}

.explore-img-container {
  width: 64px;
  height: 64px;
  margin-right: 16px;
}

.explore-img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  border-radius: 0.75rem;
}

.explore-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  font-size: 16px;
  color: rgb(34, 34, 34);
}

.explore-title {
  font-weight: 600;
}

.explore-time {
  font-weight: 300;
}

.place-row-container {
  padding-right: 8px;
  padding-left: 8px;
  min-width: 500px;
}

.place-row-container .row > * {
  display: flex;
  flex-direction: column;
  padding-right: 7px;
  padding-left: 7px;
}

.place-img-comtainer {
  width: 100%;
  height: 100%;
  padding-bottom: 0.5rem;
}

.place-img {
  width: inherit;
  height: inherit;
  border-radius: 0.5rem;
}

.place-info {
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 600;
}

.place-info-description {
  font-size: 14px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

.big-col.outdoor {
  background-image: url("images/homapage/f0343d6a-328c-4213-90a2-13ba3572a01f.jpg");
}

.big-col {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 5rem;
  min-width: 400px;
}

.big-col-info h2 {
  font-size: 46px;
}

.big-col-description {
  font-size: 18px;
  font-weight: 500;
}

.big-col-info {
  width: 35%;
}

.big-col-info div {
  margin-top: 2rem;
}

.outdoor-btn {
  padding: 14px 24px;
  background-color: #222222;
  color: white;
  border-radius: 0.5rem;
  width: auto;
}

.big-col.hosting {
  background-image: url("/images/homapage/791aba62-2de8-4722-99b5-45838715eb34-landscape.jpg");
}

.big-col-info.hosting {
  color: white;
}

.hosting-btn {
  padding: 14px 24px;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  width: auto;
  font-weight: 500;
}

.getaways-destinations {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #dddddd;
  margin-top: 1.5rem;
  min-width: 1145px;
  position: relative;
}

.getaways-destinations > span {
  display: flex;
  margin-right: 2rem;
  padding-bottom: 1rem;
  color: grey;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.getaways-destinations > span:hover,
.active {
  color: black;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}

.getaways-btn-next {
  display: none;
  position: sticky;
  color: black;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.destinations-row > div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.destinations-row > div span:nth-child(2) {
  color: #888888;
}

.bi.bi-three-dots {
  padding: 5px 12px;
  border-radius: 1rem;
  box-shadow: 0px 3px 5px #888888;
}

.getaways-btn-extra {
  display: none;
  margin-top: 1rem;
}

.footer-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  border-top: 1px solid rgb(190, 190, 190);
}

.new-section-footer-container {
  padding: 64px 80px 0px;
  width: 100%;
}

.footer-about-border {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.f-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.f-info span:first-child {
  font-weight: 500;
}

.f-info > span {
  padding-bottom: 1rem;
}

.footer-airbnb-inc {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.footer-terms {
  display: flex;
  flex-wrap: wrap;
}

.footer-terms div,
.footer-terms > span {
  padding-right: 0.5rem;
}

.footer-right {
  display: flex;
  align-items: center;
  color: black;
}

.footer-right > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.footer-language-currency {
  padding-right: 1rem;
}

.footer-language-currency > div {
  padding-right: 1rem;
}

.footer-language-currency > div span {
  padding-left: 0.25rem;
  text-decoration: underline;
}

.footer-logo > i {
  padding-left: 2rem;
  font-size: 18px;
}

.main-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.sp-top-bar {
  display: flex;
  color: rgb(255, 56, 92) !important;
  width: 100%;
  height: 80px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.sp-user-login {
  display: flex;
  align-items: center;
}

.sp-user-login-host {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
}

.sp-user-login i {
  color: #000000;
}

.sp-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.sp-menu > div {
  display: flex;
  align-items: center;
}

.sp-list-place {
  display: flex;
}

.sp-list-place > button {
  margin: 8px;
  display: flex;
  align-items: center;
}

.sp-list-place > button > span {
  font-size: 14px;
  font-weight: 500;
}

.sp-menu-logo-container {
  width: 26px;
  height: 26px;
  margin-right: 0.5rem;
  display: none;
}

.sp-menu-logo-container > img {
  width: inherit;
  height: inherit;
}

.sp-menu-container {
  color: #717171;
  border: none;
  background-color: white;
  display: flex;
  padding: 0px;
  height: 52px;
  border-bottom: 2px solid transparent;
}

.sp-menu-container:focus {
  color: black;
  border-bottom: 2px solid black;
}

.sp-menu-container:focus .sp-menu-logo-container {
  display: inline;
}

.sp-menu-container-active,
.sp-menu-container-active .sp-menu-logo-container {
  display: inline;
  color: black;
  border-bottom: 2px solid black;
}

.sp-list-filters > div:nth-child(-n + 2) {
  margin-right: 0.5rem;
}

.sp-list-filters > div:nth-child(-n + 2) > button,
.sp-list-filters button {
  border-radius: 2rem;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgb(190, 190, 190);
  font-size: 14px;
  padding: 8px 16px;
}

.sp-list-filters > div:first-child {
  border: 2px solid #000000;
  border-radius: 2rem;
}

.btn-filters {
  display: flex;
  align-items: center;
}

.sp-new-section-container {
  padding: 20px 80px 0px;
  width: 100%;
}

.sp-row > .col-12 {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.sp-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  padding-top: 100%;
}

.sp-img-container img,
.sp-img-container div {
  border-radius: 0.75rem;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  border: 1px solid rgb(190, 190, 190);
}

.sp-img-container svg {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  fill: rgba(0, 0, 0, 0.5);
}

.sp-place-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sp-place-name {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sp-place-price span {
  white-space: nowrap;
}

.sp-place-distance {
  color: #717171;
}

.sp-pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sp-pagination-number ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sp-pagination-number ul > li {
  font-size: 14px;
  height: 32px;
  width: 32px;
  margin: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 50%;
}

.sp-pagination-number ul > li:nth-child(2) {
  background-color: #222222;
  color: #ffffff;
}

.sp-pagination-number ul > li:first-child {
  color: rgb(190, 190, 190);
}

.sp-place-to-stay {
  font-size: 14px;
  padding-top: 16px;
}

.sp-terms {
  font-size: 12px;
  padding-top: 32px;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #000000;
  background-color: #ffffff;
  border-color: rgb(190, 190, 190);
  box-shadow: none;
}

.modal-header .close {
  padding: 0px;
  margin: 0px;
}

.close {
  float: unset;
  line-height: 0;
}

.bi.bi-x {
  color: #000000;
}

.modal-header {
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-header button {
  position: absolute;
  left: 1rem;
}

.login-modal-title {
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 0px;
}

.modal-body-welcome {
  font-size: 22px;
  color: #000000;
  font-weight: 500;
}

.login-country-number {
  border: 1px solid rgb(190, 190, 190);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 100%;
}

.login-country-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 0.5rem 0.5rem;
  color: #000000;
}

.login-left {
  display: flex;
  flex-direction: column;
}

.login-left span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(113, 113, 113);
  font-size: 12px;
}

.login-left span:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}

.login-country-number div:nth-child(2) {
  display: flex;
}

.login-phone-number {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
}

.login-country-number > div {
  height: 58px;
}

.login-message {
  font-size: 12px;
  color: rgb(34, 34, 34);
  line-height: 16px;
  margin-top: 0.5rem;
}

.login-privacy {
  font-weight: 600;
  text-decoration: underline;
}

.login-btn-continue {
  margin-top: 1rem;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
}

.login-line-container {
  position: relative;
  margin-top: 1rem;
}

.line-or {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.login-line-container .line-or span {
  font-size: 12px;
  padding: 0rem 1rem;
  background-color: white;
}

.login-line-container:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid #dee2e6;
  background: #dee2e6;
  width: 100%;
  transform: translateY(-50%);
}

.login-third-party {
  width: 100%;
  margin: 1rem 0rem;
}

.login-third-party > div > span {
  font-size: 16px;
  line-height: 24px;
  color: rgb(72, 72, 72);
}

.login-third-party > div {
  border: 2px solid rgb(176, 176, 176);
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-third-party > div:nth-child(-n + 3) {
  margin-bottom: 1rem;
}

.login-third-party > div > i {
  position: absolute;
  left: 1rem;
  font-size: 20px;
}

.login-third-party > div:first-child > i {
  color: rgb(24, 119, 242);
}

.login-third-party > div:nth-child(n + 2) > i {
  color: rgb(72, 72, 72);
}

.modal-content.login-modal {
  border-radius: 0.75rem;
}

@media only screen and (max-width: 768px) {
  .covid-news {
    font-size: 12px;
  }

  .place-to-stay-info {
    display: none;
  }

  .place-to-stay {
    height: 60vh;
  }

  .search-bar {
    display: none;
  }

  .mobile-search-bar-container {
    display: block;
  }

  .im-flexible {
    top: 64px;
  }

  .explore-nearby-row-container .row .col-6:nth-child(n + 5) {
    display: none;
  }

  .place-row-container.live .row .col-6:nth-child(n + 3) {
    display: none;
  }

  .place-row-container.discover .row .col-6:nth-child(n + 3) {
    display: none;
  }

  .big-col {
    justify-content: flex-start;
    height: 70vh;
    text-align: center;
    padding: 5rem;
  }

  .big-col.hosting {
    background-image: url("/images/homapage/791aba62-2de8-4722-99b5-45838715eb34.jpg");
    justify-content: flex-start;
    height: 70vh;
    text-align: center;
    padding: 5rem;
  }

  .big-col-info {
    width: 100%;
  }

  .big-col-info h2 {
    font-size: 30px;
  }

  .destinations-row > div:nth-child(n + 7) {
    display: none;
  }

  .getaways-btn-extra {
    display: flex;
  }
}

@media only screen and (max-width: 820px) {
  .getaways-btn-next {
    display: inline;
  }
}

@media only screen and (max-width: 1200px) {
  .explore-nearby-row-container .row .col-6:nth-child(n + 7) {
    display: none;
  }

  .place-row-container.live .row .col-6:nth-child(n + 4) {
    display: none;
  }

  .new-section-footer-container .row {
    flex-direction: column;
  }

  .footer-about-border-mobile {
    margin-bottom: 2rem;
    padding-top: 1rem;
    border-bottom: 1px solid rgb(190, 190, 190);
    margin-left: 15px;
    margin-right: 15px;
  }

  .footer-airbnb-inc {
    flex-direction: column;
  }

  .footer-right {
    order: -1;
  }

  .footer-logo > i {
    display: none;
  }

  .footer-language-currency > div {
    display: flex;
    flex-wrap: nowrap;
  }

  .footer-terms {
    display: block;
  }

  .footer-terms span:nth-child(2) {
    display: none;
  }
}

@media only screen and (min-width: 1607px) {
  .sp-row > .col-xl-1 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
